body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align:center;
}

.cookie{
  background-color: #194277;
  padding: 20px;  
}

.cookie span{
	font-family:'Lato';
	color:#fff;
}

.cookie button{
	font-family: 'Lato';
	font-weight: bold;
	color: #194277;
	background-color: #fff;
	width: 100px;
	padding:5px;
	margin-left: 30px;
	border-radius: 20px;
	border:0;
}

.logo{
	padding-top: 50px;
	background-image: linear-gradient(45deg,
	#3695ff 10%, #469dff 10%, 
	#469dff 25%,#4098ff 25%,
	#4098ff 40%, #3c8dfe 40%,
	#3684fe 60%,#3477f1 60%);
	height:400px;
}

h1{
	font-family: 'Lato',sans-serif;
	text-transform:  uppercase;
	color: #fff;
}

.heading p{
	font-family: "Lato";
	font-weight: lighter;
	color:#b6d4ff;
}

.photo{
  background-color: #fff;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius:50%;
  border: 5px solid #589afe;
}

.hire{
	font-family: 'Lato';
	font-weight: bold;
	color: #194277;
	background-color: #fff;
	width: 150px;
	padding:10px;
	border-radius: 20px;
	border: 0;
}

main p{
	color:#838383;
	font-family: 'Lato';
	font-weight: lighter;
}

h2{
	color:#68a0fe;
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 30px;
}

.about-me{
	text-align: center;
	width: 50%;
	margin: 40px auto;
}

.expert-in{
	background-color: #f1f8ff;
	width: 1438px;
	height: 700px;
	padding: 40px;
	text-align: center;
}

.center{
	margin-left: 240px;
}

h3{
	font-family: 'Lato';
	color:#3677fd;
	text-transform: uppercase;
}

article{
	width:25%;
	text-align: center;
	float: left;
	padding: 10px;	
}

article div{
	width: 150px;
	height: 150px;
	border:1px solid #bac3cc;
	border-radius: 50%;
	margin: 0 auto;
}

div img{
	display: block;
	margin: 40px auto;
}

.works{
	text-align: center;
	height: 500px;
}

.work_pict{
	width: 60%;
	margin-left: 350px;
}

.work_pict img{
	width: 25%;
	display: block;
	float: left;
	margin: 20px;
}

.co-op{
	background-color: #f1f8ff;
	text-align: center;
	padding: 40px;
}

.co-op img{
	margin: 20px 0;
	margin-right:50px;
	width: 150px;
}

footer{
	text-align: center;
	padding: 100px;
	background-image: linear-gradient(45deg,
	#3695ff 10%, #469dff 10%, 
	#469dff 25%,#4098ff 25%,
	#4098ff 40%, #3c8dfe 40%,
	#3684fe 60%,#3477f1 60%);
}

footer span{
	font-family: 'Lato';
	font-weight: lighter;
	font-size: 50px;
	color: #fff;
}

footer .hire{
	font-size: 25px;
	margin-left: 20px;
	width:200px;
	border-radius:30px;
	color:#3695ff;
}

button:hover{
	background-color: #68a0fe;
	color:#fff;
}


.wrapper{
	max-width: 1070px
	margin: 0 auto;
	width:100%;
}













